body {
    background-color: #1C1E26;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #666666;
    margin-bottom: 40px;
}

.title {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-top: 25px;
}

.content {
    color: white;
    font-size: 22px;
    margin-top: 25px;
}

.btn {
    all: unset;
    border-radius: 5px;
    border: 1px solid pink;
    padding: 10px 40px;
    color: white;
    font-size: 18px;
    margin-top: 40px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.btn:hover {
    color: black;
    background-color: pink;
}

.imgBox {
    object-fit: cover;
    width: 300px;
    height: 240px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgBox:hover {
    opacity: 0.7;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
